{% extends 'base.html.twig' %}

{% set numero = 0 %}

{% block title %}
List -
{{ code }}
{% endblock %}

{% block content %}
{# <div class="text-center well"> <form action="{{ path('home') }}" role="form"
class="form-inline" method="post"> <div class="form-group"> <select id="classe"
name="classe" class="form-control"> <option value="">Choisissez votre classe</option>
{% for class in classes %} <option value="{{ class.code }}" {% if class.code == code
%} selected {% endif %}> {{ class.code }} </option> {% endfor %} </select> </div>
<input type="submit" value="Afficher la liste" class="btn btn-primary" /> </form>
</div> #}
<div class="well text-center">
  {{ form_start(form, {'attr' : {'class':'form-inline'} }) }}
  <div class="form-group">
    {{ form_errors(form.code) }}
    {{ form_widget(form.code, {'attr' : {
        'class':'form-control',
        'placeholder':'Choisir votre classe'} 
      }) }}
    <input type="submit" value="Afficher la liste" class="btn btn-primary" />
  </div>
  {{ form_end(form) }}
</div>
{% if students %}
<div class="table-responsive">
  <table class="table table-hover">
    <caption>
      Liste des Élèves de la
      {{ code }}
    </caption>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Matricule</th>
        <th>Nom(s) et Prénom(s)</th>
        <th>Date de Naissance</th>
        <th>Sexe</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      {% set numero = numero + 1 %}
      <tr>
        <td>{{ numero }}</td>
        <td>{{ student.matricule }}</td>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.birthdate | date('d/m/Y') }}</td>
        <td>{{ student.sexe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-warning">
  No student registered in
  {{ code }}
  yet.
</div>
{% endif %}
{% endblock %}

