{% extends 'base.html.twig' %}

{% set numero = 0 %}

{% block title %}
List -
{{ code }}
{% endblock %}

{% block content %}

{% include 'chooseclass_form.html.twig' with {'form' : form} %}

{% if students %}
<div class="table-responsive">
  <table class="table table-hover">
    <caption>
      Liste des Élèves de la
      {{ code }}
    </caption>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Matricule</th>
        <th>Nom(s) et Prénom(s)</th>
        <th>Date de Naissance</th>
        <th>Sexe</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      {% set numero = numero + 1 %}
      <tr>
        <td>{{ numero }}</td>
        <td>{{ student.matricule }}</td>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.birthdate | date('d/m/Y') }}</td>
        <td>{{ student.sexe }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-warning">
  No student registered in
  {{ code }}
  yet.
</div>
{% endif %}
{% endblock %}

